<!-- Destaque Principal -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="display-4">Bem-vindo à Cantina Venda</h1>
            <p class="lead">Sua solução de vendas de cantina online.</p>
            <a href="/login" class="btn btn-primary btn-lg">Ir para o Login</a>
        </div>
    </div>
</div>